<main class="container mt-5">
    <a href="/show/{{ lastPost.id }}" class="text-decoration-none">
        <div class="p-4 p-md-5 mb-4 rounded" style="background: url({{ lastPost.image_url }}) no-repeat center;">
            <div class="col-lg-6 px-0">
                <p class="text-sm-left text-white">Última publicação.</p>
                <h1 class="display-4 fst-italic text-white" style="font-weight: bold">{{ lastPost.title }}</h1>
                <p class="lead my-3 text-white">{{ lastPost.description }}</p>
                <p class="lead mb-0 text-body-emphasis fw-bold">Leia -></p>
            </div>
        </div>
    </a>
</main>